<table>
    <tr>
        <td>Ad:<input type="text" name="fname"></td>
    </tr>
    <tr>
        <td>E-posta:<input type="email" name="eposta"/></td>
    </tr>
    <tr>
        <td>Kullanıcı Adı:<input type="text" name="fuserName"></td>
    </tr>
    <tr>
        <td>Şifre:<input type="password" name="fpass"></td>
    </tr>
</table>
<form action="/Home/Kayit">
    <input type="submit" value="Kayıt Ol">
</form>
